*{
    margin: 0%;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'noto Sans KR' sans-serif;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    padding: 1rem;
    color: white;
    background: #F97921;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 16px;
    font-family: 'Nanum Gothic', sans-serif;
}

span{
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Nanum Gothic', sans-serif;
}

.logo{
    text-align: center;
    margin-top: 100px;
}

.nav{
    text-align: center;
    position: sticky;
    cursor: pointer;
}
.nav ul{
    display: inline-block;
    padding: 16px 20px;
    color: #777777;
    font-size: 16px;
}

.nav ul:hover{
    font-weight: 900;
    color: rgb(255, 255, 255);
    background-color: #FA9A28;
}

.jeju img{
    margin-top: 30px;
    width: 100%;


}
h3{
    text-align: center;
    margin-top: 60px;
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    letter-spacing: -.2px;
    color: #FA9A28;
}

h4{
    font-size: 18px;
    margin-left: 100px;
    margin-right: 100px;

}
.content p{
    font-size: 14px;
    margin-left: 100px;
    margin-right: 100px;
}



/* 사이트 푸터 */

footer{
	height: 30px;
	line-height: 16px;
}

footer p{
    text-align: center;
    margin-top: 200px;
    padding-top: 10px;
    padding-bottom: 120px;
    font-size: 10px;
    font-weight: 500;
    background-color: #FA9A28;
    width: 1200px;
}

